debug:        false
instances:
  luxnetwork:
    base_url: 'https://noc.luxnetwork.eu'
    api_path: 'api/v0'
    username: ''
    password: ''
  tlpo:
    base_url: 'http://observium2.tl-noc.com'
    api_path: 'api/v0'
    username: ''
    password: ''
