debug:        false
instances:
  observium1:
    base_url: 'https://observium1'
    api_path: 'api/v0'
    username: ''
    password_cmd: ''
  observium2:
    base_url: 'http://observium2'
    api_path: 'api/v0'
    username: ''
    password: ''
